/*font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
}

/*fondos colores*/
.bg-dark{
	background-color: #262525
}

.bg-danger{
	background-color: #C11111
}

.bg-info{
	background-color: #0065c3
}

.bg-success{
	background-color: #12E73F
}

.bg-warning{
	background-color: #E76424
}

/*end fondos */


section{
	display: flex;
	padding: 10px;
	justify-content: space-between;
}


div{
	color: black;
	font-size: 2em;
	border:solid 1px white;
	border-radius: 5px;
	margin: 30px;
	height: 30vh;
	padding: 30px;
	display: flex;
	align-items: center;
}


/* clases para los temas de hoy*/

.linear-gradient{
	background: linear-gradient(to right, pink, darkred);
}

.transform:hover{
	transform: translate(-50px, -20px);
	transition: all 1s;
	cursor: pointer;
}

.rotate:hover{
	transform: rotateZ(360deg);
	transition: all 1s;
	cursor: pointer;
}

.scale:hover{
	transform: scaleY(1.5);
	transition: all 1s;
	cursor: pointer;
}

.skew:hover{
	transform: skew(45deg);
	transition: all 1s;
	cursor: pointer;
}

@keyframes animateDiv{
	0%{background-color: violet}
	25%{background-color: pink}
	50%{background-color: darkred}
	75%{background-color: violet}
	100%{background-color: palevioletred}
}

.animate{
	animation-name: animateDiv;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	/* animation-delay: 1s; */
	animation-timing-function: linear;
}

@keyframes textAlpha{
	from{opacity: 0}
	to{opacity:1}
}


h3{
	animation-name: textAlpha;
	animation-duration: 5s;
	/* animation-iteration-count: infinite; */
}

.transition{
	background-color: red;
}

.transition:hover{
	background-color: yellow;
	transition: all 4s;
}


button{
	margin: 30px 50px;
	border: none;
	background: linear-gradient(to top, pink, darkred);
	padding: 5px;
	border-radius: 4px;
}

button:hover{
	background: linear-gradient(to bottom, pink, darkred);
	transition: all 1s;
	cursor: pointer;
}


