@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");

/* Inicia botonera */
.btn-gral, .btn-rounded {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  color: darkred;
}

.btn-rounded {
  border-radius: 5px;
}

.btn:hover{
  background-color: red;
 }

 /* Inicia contenido principal */

.main-content, .main-content-gray {
  width: 100%;
  padding: 20px 50px;
  overflow-x: auto;
}

.main-content-gray {
  background-color: gray;
}

/* Inicia header */
.header-gral, .header-contacto, .header-servicios {
  height: 30vh;
  background-size: cover;
  background-position: top center;
  background-image: url(../img/headers/header-home.jpg);
}

.header-servicios {
  background-image: url(../img/headers/header2.jpg);
}

.header-contacto {
  background-image: url(../img/headers/header3.jpg);
}

/* inicia fuente e iconos */

.texto-ficticio {
  font-family: "Merriweather", serif;
  font-size: 1.1em;
  padding: 10px;
  color: black;
  text-align: left;
}

.box {
  width: 100%;
  height: 33vh;
  background-color: grey;
}

.text-1 {
  font-size: 0.25em;
}

.text-2 {
  font-size: 0.5em;
}

.text-3 {
  font-size: 0.75em;
}

.text-4 {
  font-size: 1em;
}

.text-5 {
  font-size: 1.25em;
}

.text-6 {
  font-size: 1.5em;
}

.facebook-icon {
  background-image: url(../img/icons/facebook.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style: none;
  margin-right: 6px;
}

.twitter-icon {
  background-image: url(../img/icons/twitter.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style: none;
  margin-right: 6px;
}

.instagram-icon {
  background-image: url(../img/icons/instagram.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style: none;
  margin-right: 6px;
}

/* Inicia botonera 2 */

.botonera {
  background-color: darkred;
}
.botonera ul li {
  margin-left: 5px;
}
.botonera ul li a {
  color: #e7c55f;
  font-size: 1em;
  /*Subrayado animado*/
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.botonera ul li a:hover {
  color: #e7c55f;
  background-size: 100% 2px;
}
.botonera img {
  width: 150px;
}

@media (width < 320px) {
  .botonera img {
    width: 100px;
    height: 100px;
  }
}
 
/* inicia textos principales */

.noticias {
  background-color: red;
}
.noticias__heading {
  color: darkred;
}
.noticias__heading--sm {
  font-size: 0.8em;
}
 
* {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: darkred;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.8em;
}

p {
  color: gray;
  font-size: 1.4em;
  line-height: 1.8em;
  padding: 0 20px;
  font-weight: 100;
}

label {
  color: darkred;
}

.bg-pink {
  background-color: lightgray;
}

.bg-darkred {
  background-color: darkred;
}

.text-darkred {
  color: darkred;
}

.border-darkred{
  color:darkred
}

/* inicia background viejo, desactivado por el momento */
/* .bg-pattern {
  background-image: url(../img/backgrounds/red-vintage-fabric.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
} */

/* Inicia container */

.linkMore {
  color: darkred;
  font-size: 1.3em;
  text-decoration: none;
}

.contenedor {
  width: 90%;
  height: auto;
  margin: 20px auto;
  padding: 10px 50px;
  overflow-y: auto;
}

.d-flex {
  display: flex;
}

/* Inicia footer */

footer {
  padding: 20px 30px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(224, 226, 226);
}
footer svg {
  fill: darkred;
  width: 30px;
  margin-right: 10px;
}
footer a {
  text-decoration: none;
  display: block;
  color: darkred;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

 /* Inicia productos */
.productos {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productos figure {
  width: 31%;
  border-radius: 4px;
  border: solid gray 1px;
  margin-bottom: 20px;
  display: flex;
  flex-direction:column ;
  padding: 20px;
  
}
.productos figure p {
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 20px 0;
  text-align: left;
}
.productos figure img {
  width: 100%;
  text-align: center;
}
.productos figure figcaption {
  color: darkred;
  font-size: 1.5rem;
  margin-top: 10px;
  flex: auto;
}
.productos figure button {
  border: solid;
  background-color: darkred;
  color: white;
  border-radius: 8px;
  padding: 10px;

  align-self: flex-end;
  display: flex;
  width: 100%;
}
/* Inicia tienda, filtros y botones */
.tienda .filters {
  padding: 0 20px 30px 30px;
}
.tienda .filters a {
  color: rgb(134, 130, 132);
  font-size: 1.3em;
  text-decoration: none;
  margin-bottom: 4px;
  text-transform: lowercase;
}
.tienda .filters a:hover {
  color: darkred;
}
.tienda .filters span {
  display: block;
  color: rgb(0, 0, 0);
  margin: 10px 0;
  letter-spacing: 1px;
}
.tienda .filters select {
  color: darkred;
  border: none;
  background-color: white;
  margin-bottom: 10px;
  font-size: 1.4em;
}
.tienda .filters li {
  padding-left: 10px;
  list-style: none;
}
.tienda .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.tienda .actions button {
  margin-left: 10px;
  background-color: darkred;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 3px;
}
.tienda .actions input {
  padding: 6px;
  border-radius: 3px;
  border: none;
  background-color: rgb(243, 245, 245);
}

/* Inicia tienda, productos */
.tienda {

  display: flex;
  flex-direction: column;
  grid-template-areas: "actions actions actions" "filters uno uno" "filters dos tres" "filters dos cuatro";
  gap: 5px; }

  @media (width < 768px) {

    .tienda{
        display: flex;
        flex-direction: column;}

  } 


.tienda section {
  border-radius: 10px;
}

.tienda .actions {
  padding: 0 30px;
  grid-area: actions;
  position: fixed;
  right: 0;
}

.tienda .filters {
  grid-area: filters;
}

/* Inicia animaciones */
@keyframes animatedHeader {
  0% {
    background-image: url(../img/headers/header.jpg);
  }
  25% {
    background-image: url(../img/headers/header2.jpg);
  }
  50% {
    background-image: url(../img/headers/header3.jpg);
  }
  75% {
    background-image: url(../img/headers/header4.jpg);
  }
  100% {
    background-image: url(../img/headers/header5.jpg);
  }
}
.header-animated {
  height: 50vh;
  background-size: cover;
  animation-name: animatedHeader;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}



/* Incia workaround del responsive de index*/
@media (width < 768px){

  .productos figure{
      width: 100%;
  }
  
      .productos figure p{
          padding: 0 20px;
          font-size: 1em;
      }
  
      .productos figure img{
          width: 50%;
      }
  
      .productos figure button{
          width: 90%;
      }
  p{
      font-size: 2em;
      padding: 0 10px;
  }
}