//extends
.btn-gral{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    color: $mainColor;
}

.btn-rounded{
    @extend .btn-gral;
    border-radius: 5px;
}

.main-content{
    width: 100%;
    padding: 20px 50px;
    overflow-x: auto;
}

.main-content-gray{
    @extend .main-content;
    background-color: gray;
}

.header-gral{
    height: 30vh;
    background-size: cover;
    background-position: top center;
    background-image: url(../img/headers/header-home.jpg);
}

.header-servicios{
    @extend .header-gral;
    background-image: url(../img/headers/header2.jpg);
}

.header-contacto{
    @extend .header-gral;
    background-image: url(../img/headers/header3.jpg);
}

//mixins
@mixin textos($size,$padding,$color,$align){
    font-family: $mainFont; //variable global
    font-size: $size; //variable local
    padding: $padding; //variable local
    color:$color; //variable local
    @if $align == center{text-align: center}
    @else if $align == right {text-align: right}
    @else if $align == left {text-align: left;}
}

.texto-ficticio{
    @include textos(1.1em,10px,black, left )
}


@mixin flex1($direction,$justify,$align,$wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}


// div{
//     @include flex1(row,center, center, nowrap);
// }

// .box{
//     @include flex1(row-reverse, flex-end,flex-start, wrap);
// }


//maps
$paleta:(
    'uno': #F7A654,
    'dos': #210806,
    'tres':#fae0bf,
    'cuatro':#6d070a,
    'cinco': #dd9d64,
)

// p{
//     color:map-get($map: $paleta, $key: 'doce');
//     box-shadow: map-get($map: $paleta, $key:'once' );
// }


// math
;box{
	width: $width;
    height: $height + 3vh;
	background-color: grey;
}

// // // condicionales 
// .icon-lang{
// 	width: 50px;
// 	height: 50px;
// 	background-size:contain;
// 	background-position:center;
// 	@if $lang == es {background-image: url(../img/icons/icono-es.jpg)}
// 	@else if $lang == en {background: url(../img/icons/icono-en.jpg)}
// 	@else if $lang == fr {background: url(../img/icons/icono-fr.jpg)}
// 	@else{background: url(../img/icons/icono-any.jpg)};
// }

// // bucles
@for $i from 1 through 6{
	.text-#{$i}{
		font-size: .25em *$i;
	}
}

// // bucle evolucionado
@each $icono in facebook, twitter, instagram{
	.#{$icono}-icon{
		background-image:url(../img/icons/#{$icono}.svg);
		width: 30px;
		height: 30px;
		background-size:100%;
		list-style: none;
		margin-right: 6px;
	}
}

