//variables globales

//colors
$mainColor:darkred;
$secondaryColor:gray;
$keyColor:rgb(99, 96, 96);


//fonts
$mainFont:"Merriweather", serif;

//sizing
$textSm:.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;

//font weight
$fontLight:100;
$fontBold:600;
$fontRegular:400;


//sizing
$width:100%;
$height:30vh;

//lang
$lang:es;